<div class="relative w-full h-[45vh] md:h-[50vh] flex items-center justify-end overflow-hidden">
  
  <!-- Background Image -->
  <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('assets/images/Rectangle1.png');"></div>

  <!-- Gradient Overlay -->
  <div class="absolute inset-0" style="background: linear-gradient(to right, rgba(110, 94, 169, 0) 0%, rgba(91, 74, 139, 1) 60%);"></div>

  <!-- Right-side decorative SVG -->
  <div class="absolute -right-10 bottom-0 w-1/2 h-full  items-center justify-center pointer-events-none hidden md:flex">
    <img src="assets/images/image10.png" class="w-[50%]" alt="svg" />
  </div>

  <!-- Content -->
  <div class="relative z-30 text-white p-4 md:p-8 flex flex-col justify-center items-center md:items-start  w-[80%]  text-center  md:text-right">
    <h1 class="text-2xl md:text-4xl font-bold mb-4">ممكنات أسترشاد</h1>
    <p class="text-base md:text-xl mb-2">في تفعيل العمل التطوعي</p>
    <p class="text-green-400 text-base md:text-xl mb-6">وفق رؤية السعودية 2030</p>

    <!-- Dots -->
    <div class="flex justify-center md:justify-start space-x-2 rtl:space-x-reverse">
      <span class="w-2 h-2 md:w-3 md:h-3 bg-white rounded-full"></span>
      <span class="w-2 h-2 md:w-3 md:h-3 bg-white rounded-full"></span>
      <span class="w-2 h-2 md:w-3 md:h-3 bg-white rounded-full"></span>
    </div>
  </div>

</div>
