<section class="px-4 md:px-20 pt-8 bg-[#231E31] flex flex-col md:flex-row items-center justify-between gap-10 text-right overflow-hidden">
  <!-- Text content -->
  <div class="w-full md:w-1/2 flex flex-col items-center md:items- text-center md:text-right gap-2">
    <h1 class="text-4xl sm:text-5xl lg:text-7xl font-bold text-[#FFFFFF] mb-4">
      جدير
    </h1>
    <h2 class="text-lg sm:text-xl lg:text-2xl text-[#6E5EA9] font-medium mb-6">
      تطوع الخبراء
    </h2>
    <p class="text-[#FFFFFF] text-sm sm:text-base lg:text-lg mb-8 max-w-md">
      ابلكيشن جدير تطوع الخبراء، متاح حالياً على
    </p>

    <!-- Buttons -->
    <div class="flex flex-wrap gap-4 justify-center md:justify-end">
      <a href={{settings.ios_link}} target="_blank"
         class="flex items-center gap-2 bg-[#6E5EA9] text-white px-6 py-2 rounded-full shadow-md hover:opacity-90 transition text-sm sm:text-base">
        Google Play
        <img src="assets/images/google-play.png" class="h-5" alt="Google Play">
      </a>
      <a href={{settings.android_link}} target="_blank"
         class="flex items-center gap-2 bg-[#6E5EA9] text-white px-6 py-2 rounded-full shadow-md hover:opacity-90 transition text-sm sm:text-base">
        App Store
        <img src="assets/images/app-store.png" class="h-5" alt="App Store">
      </a>
    </div>
  </div>

  <!-- Image -->
  <div class="w-full md:w-1/2 flex justify-center">
    <img src="assets/images/jadeer-phone.png" alt="تطبيق جدير" class=" md:w-[80%] object-contain" />
  </div>
</section>
