<section class="bg-gradient-to-l from-[#2D2353] to-[#6E5EA9] text-white lg:pt-20 lg:py-0 py-10 min-h-screen px-4 sm:px-6 lg:px-20 flex flex-col-reverse lg:flex-row gap-x-10">
  
  <!-- النص -->
  <div class="text-center lg:text-right space-y-6 w-full lg:w-1/2 flex justify-center flex-col pt-10">
    <div>
      <span class="bg-[#6E5EA9] text-white px-4 py-2 rounded-full text-sm">مجالات الاستشارة</span>
    </div>

    <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold leading-relaxed">
خبراؤنا بخدمتك في كل مجال
    </h2>

    <p class="text-gray-300 text-sm sm:text-base max-w-xl mx-auto lg:mx-0 leading-loose">
أسترشاد يوصلك مباشرة إلى نخبة من الخبراء المعتمدين في مختلف التخصصات، تصفح المجالات الاستشارية، وابدأ رحلتك مع مستشارك بكل سهولة.    </p>
  </div>

  <!-- الصورة -->
  <div class="relative w-full lg:w-1/2 flex justify-center items-end">
    <img src="assets/images/SAUDI-MAN.png" alt="شخص سعودي" class="w-[65%] sm:w-[50%]  lg:w-[100%] relative z-20 mx-auto" />

  </div>

</section>
